{subtemplate common/header}
<link href="template/default/mobileapp/css/css.css" rel="stylesheet" type="text/css" />
<script src="template/default/mobileapp/js/js.js" type="text/javascript"></script>
<div class="wp">
	<div class="wp cl">
		<div class="Detail_z">
			<div class="clear">
				<div class="Detail_zbt">详情介绍</div>
				<div class="Detail_znr">
					<div class="bn">
						<p class="goodsImg"><img src="$value[data][logoURL]" width="88" height="88" /></p>
						<p>软件名称：<span class="nsjc">$value[data][name]</span></p>
						<p>资源大小：$value[data][size]k</p>
						<p>资源格式：$value[data][format]</p>
						<p>推荐指数：<a class="xinxin xing9"></a></p>
						<div class="xzpl">
							<a href="#" class="plan"><span>已下载 $value[data][downloadedTimes] 次</span></a>
							<a href="#" class="xzan"><span>已评论 65535 次</span></a>
						</div>
					</div>
					<div class="bn clear" style="padding-right:160px;">
						<p class="goodsImg"><span class="jietuImg"><img src="$value[data][pictureURL][0]" width="240" height="318" /></span></p>
						<p>发布时间：$value[data][releaseTime]</p>
						<p style="margin-top:15px;">开 发 者：$value[data][author]</p>
						<p>资源分类：<a href="#">软件</a> - <a href="#">$value[data][category][name]</a> - <a href="#" class="nsbjc">大众点评网</a></p>
						<p>　$value[data][shorDescription]</p>
					</div>	
				<div class="clear"></div>
			  </div>
				<div class="Detail_zj"></div>
			</div>
			<div class="clear" style="margin-top:10px;">
				<div class="Detail1_zbt">评论列表</div>
				<div class="Detail1_znr">
					<div class="bn" style="padding-top:0;">
					
					<div class="pllist_center">
						<ul>
							<li>
								<dl>
								<dt>
									<a href="#" class="avt"><img src="template/default/mobileapp/image/noavatar_small.gif" /></a>								</dt>
								<dd>
									<div class="fb"><span class="nsbjc">王永裕</span>于 2011-06-13 01:42:14 <span> 推荐指数：<a class="xinxin xing9"></a></span></div>
									<div class="hf">顶一个，看贴回贴是一种美德</div>
								</dd>
								</dl>
								<div class="clear"></div>
							</li>
							<li>
								<dl>
								<dt>
									<a href="#" class="avt"><img src="template/default/mobileapp/image/noavatar_small.gif" /></a>								</dt>
								<dd>
									<div class="fb"><span class="nsbjc">王永裕</span>于 2011-06-13 01:42:14 <span> 推荐指数：<a class="xinxin xing9"></a></span></div>
									<div class="hf">顶一个，看贴回贴是一种美德</div>
								</dd>
								</dl>
								<div class="clear"></div>
							</li>
							<li>
								<dl>
								<dt>
									<a href="#" class="avt"><img src="template/default/mobileapp/image/noavatar_small.gif" /></a>								</dt>
								<dd>
									<div class="fb"><span class="nsbjc">王永裕</span>于 2011-06-13 01:42:14 <span> 推荐指数：<a class="xinxin xing9"></a></span></div>
									<div class="hf">顶一个，看贴回贴是一种美德</div>
								</dd>
								</dl>
								<div class="clear"></div>
							</li>
							<li>
								<dl>
								<dt>
									<a href="#" class="avt"><img src="template/default/mobileapp/image/noavatar_small.gif" /></a>								</dt>
								<dd>
									<div class="fb"><span class="nsbjc">王永裕</span>于 2011-06-13 01:42:14 <span> 推荐指数：<a class="xinxin xing9"></a></span></div>
									<div class="hf">顶一个，看贴回贴是一种美德</div>
								</dd>
								</dl>
								<div class="clear"></div>
							</li>
							<li>
								<dl>
								<dt>
									<a href="#" class="avt"><img src="template/default/mobileapp/image/noavatar_small.gif" /></a>								</dt>
								<dd>
									<div class="fb"><span class="nsbjc">王永裕</span>于 2011-06-13 01:42:14 <span> 推荐指数：<a class="xinxin xing9"></a></span></div>
									<div class="hf">顶一个，看贴回贴是一种美德</div>
								</dd>
								</dl>
								<div class="clear"></div>
							</li>
						</ul>
                    </div>
					<div class="pgs cl" style=" display:inline"><div class="pg"><strong>1</strong><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><a class="last" href="#">... 23</a><a class="nxt" href="#">下一页</a></div></div>
					</div>
				<div class="clear"></div>
			  </div>
				<div class="Detail1_zj"></div>
			</div>
			
			<div class="clear" style="margin-top:10px;">
				<div class="Detail1_zbt">评论</div>
				<div class="Detail1_znr">
				  <div class="bn">
				   <p>推荐指数：<a class="xinxin xing9"></a></p>
				   <p>
				     <textarea name="msg" style="margin:10px 0 10px 0; width: 710px; height: 85px;" cols="" rows=""> </textarea>
				   </p>
				   <p>你还能输入140个字<button class="pn vm y" type="submit"><strong>发表评论</strong></button></p>
				  </div>
				<div class="clear"></div>
			  </div>
				<div class="Detail1_zj"></div>
			</div>
		</div>
		
		<div class="listPage_y">
			<div class="clear">
				<div class="listPage_ybt">选择分类</div>
				<div class="listPage_ynr">
					 <ul>
					 	<li><a href="#">微课<span class="y">(428)</span></a></li>
						<li><a href="#">电子书<span class="y">(619)</span></a></li>
						<li><a href="#" class="hover">应用<span class="y">(1268)</span></a></li>
					 </ul>
				</div>
				<div class="listPage_yj"></div>
			</div>
			<div class="clear" style="margin-top:10px;">
				<div class="listPage1_ybt">热门推荐</div>
				<div class="listPage1_ynr">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="32" height="26"><strong>应用:</strong></td>
    <td><a href="#" class="bhs">乐淘掌上鞋城</a> <a href="#">360日历</a></td>
  </tr>
  <tr>
  	<td height="26"><strong>游戏:</strong></td>
	<td><a href="#">烧绳子</a> <a href="#" class="bhs">植物大战僵尸</a></td>
  </tr>
  <tr>
  	<td height="26"><strong>汉化:</strong></td>
	<td><a href="#">音量控制</a> <a href="#" class="ahs">语音录音</a> <a href="#">钛备份</a></td>
  </tr>
  <tr>
  	<td height="26"><strong>刷机:</strong></td>
	<td><a href="#">DHD 刷机</a> <a href="#">G7 刷机</a> <a href="/android-28625.html">里程碑刷机</a></td>
  </tr>
    <tr>
	<td height="26"><strong>ROM:</strong></td>
  	<td><a href="#">DHD ROM</a> <a href="#">里程碑ROM</a> <a href="#">G7 ROM</a></td>
  </tr>
</table>
</div>
				<div class="listPage1_yj"></div>
			</div>
		</div>
	</div>
</div>
{subtemplate common/footer}
