<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>管理中心</title>
<link href="static/image/platfrommanage/css.css" rel="stylesheet" type="text/css" />
</head>

<frameset rows="38px*,191*" cols="*" frameborder="no">
<frame src="static/image/platfrommanage/tou.htm" frameborder="no" scrolling="no" noresize marginwidth="0" marginheight="0">
<frame src="/manage.php" name="showframe" frameborder="no" scrolling="no" noresize marginwidth="0" marginheight="0" id="showframe">
</frameset><noframes></noframes>



</html>
