<!--{template common/header}-->
<!--{if !$_G[inajax]}-->
<div id="pt" class="wp">
	<a href="http://www.myctu.cn" class="nvhm">$_G[setting][bbname]</a> &rsaquo; 
	<a href="$_G[setting][navs][1][filename]">{lang portal}</a> &rsaquo;
	<a href="portal.php?mod=poratlcp&ac=portalblock">{lang block_management}</a>
</div>

<div id="ct" class="wp cl">
	<div class="mn">
		<div class="ch">
			<label class="wx"><a href="portal.php">{lang portal}</a></label>
		</div>
		<div class="bm">
			<ul class="tb cl">
				<li><a href="portal.php?mod=portalcp&ac=index">{lang category_management}</a></li>
				<li class="a"><a href="portal.php?mod=portalcp&ac=portalblock">{lang block_management}</a></li>
			</ul>

			<div id="block_selection">
<!--{/if}-->
				<p class="mtm mbm pns cl">
					<span class="y">
						<input type="text" class="px vm" name="searchkey" id="searchkey" value="$_GET[searchkey]" />
						<button type="button" value="true" onclick="searchblock('$_GET[from]');" class="pn vm"><em>{lang find}</em></button>
					</span>
				</p>
				<!--{if $blocks}-->
					<table class="dt">
						<tr>
							{if $_GET[from] == 'push'}<th width="20">&nbsp;</th>{/if}
							<th>{lang block_id}</th>
							<th>{lang block_data_source}</th>
							<th>{lang block_page}</th>
							<th width="80">{lang block_operation}</th>
						</tr>
						<!--{loop $blocks $block}-->
						<tr>
							{if $_GET[from] == 'push'}<td><input type="radio" id="push_bid_$block[bid]" name="bid" value="$block[bid]" /></td>{/if}
							<td><label for="push_bid_$block[bid]">$block[name]</label></td>
							<td>$block[datasrc]</td>
							<td>$block[url]</td>
							<td>
								<!--{if $block['allowsetting']}-->
								<a href="portal.php?mod=portalcp&ac=block&op=edit&bid=$block[bid]&tab=setting&blocktype=1" onclick="showWindow('showblock', this.href, 'get', 0)">{lang property}</a>
								<!--{/if}-->
								<!--{if $block['allowdata']}-->
								<a href="portal.php?mod=portalcp&ac=block&op=edit&bid=$block[bid]&tab=data&blocktype=1" onclick="showWindow('showblock', this.href, 'get', 0);">{lang data}</a>
								<!--{/if}-->
							</td>
						</tr>
						<!--{/loop}-->
					</table>
					<!--{if $multi}--><div class="pgs cl">$multi</div><!--{/if}-->
				<!--{else}-->
				<p>{lang block_no_managable}</p>
				<!--{/if}-->
<!--{if !$_G[inajax]}-->
			</div>
		</div>
	</div>
	<div class="sd">
		{subtemplate common/userabout}
	</div>
</div>
<!--{/if}-->
<!--{template common/footer}-->