{subtemplate common/header}
<div id="pt" class="wp">
    <a href="http://www.myctu.cn" class="nvhm">$_G[setting][bbname]</a> &rsaquo; <a href="group.php">专区</a>
    <!--{if $groupnav}-->
			<!--  $groupnav-->
			{eval echo get_groupcreatenav($_G[forum]);}
    <!--{elseif $action == 'create'}-->
    &rsaquo; {lang group_create}
    <!--{/if}-->
</div>
<div id="ct" class="wp cl n">

    <div style="float: right;padding-right: 190px;padding-top: 10px;">
        &lt;<a href="forum.php?mod=group&action=plugin&fid=$_G[fid]&plugin_name=$_G[gp_plugin_name]&plugin_op=groupmenu">返回列表</a>
    </div>
    <ul class="tb cl">
        <!--{if !$navs}-->
        <li <!--{if $_G[gp_plugin_op]!='importmenu'}-->class="a"<!--{/if}--> > <a href="forum.php?mod=$_G[forum][type]&action=plugin&fid=$_G[fid]&plugin_name=$_G[gp_plugin_name]&plugin_op=createmenu">新建</a></li>
        <!--{/if}-->
        <!--{loop $navs $nav}-->
        <li <!--{if $_G[gp_select]==$nav[select]}-->class="a"<!--{/if}--> > <a href="$nav[url]">$nav[name]</a></li>
        <!--{/loop}-->
        
        <!--{if $_G["forum"]["type"]=="activity" && $_G[group_plugins][group_available][importmenu][$_G["gp_plugin_name"]]}-->
        <li <!--{if $_G[gp_plugin_op]=='importmenu'}-->class="a"<!--{/if}-->><a href="forum.php?mod=$_G[forum][type]&action=plugin&fid=$_G[fid]&plugin_name=$_G[gp_plugin_name]&plugin_op=importmenu">从专区导入</a></li>
        <!--{/if}-->
    </ul>
    {eval include join_plugin_template($_G['gp_plugin_name'], $_G["gp_".$_G["gp_plugin_name"]."_action"]);}
</div>
{subtemplate common/footer}