<div class="tl">
	<div class="sttl mbn">
		<h2><!--{if $keyword}-->{lang search_result_keyword}<!--{else}-->{lang search_result}<!--{/if}--></h2>
	</div>
	<!--{if empty($articlelist)}-->
		<p class="emp xg2 xs2">{lang search_nomatch}</p>
	<!--{else}-->
		<div class="slst mtw">
			<ul>
				<!--{loop $articlelist $article}-->
				<li class="pbw">
					<h3 class="xs2"><a href="portal.php?mod=view&aid=$article[aid]" target="_blank">$article[title]</a></h3>
					<p>$article[summary]</p>
					<p>
						<span>{lang author}:<a href="home.php?mod=space&uid=$article[uid]" target="_blank">$article[username]</a></span>,
						<span>{lang views}:$article[viewnum]</span>,
						<span>{lang replies}:$article[commentnum]</span>,
						<span>{lang dateline}: $article[dateline]</span>
					</p>
				</li>
				<!--{/loop}-->
			</ul>
		</div>
	<!--{/if}-->	
	<!--{if !empty($multipage)}--><div class="pgs cl">$multipage</div><!--{/if}-->
</div>