<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="ie=7" http-equiv="x-ua-compatible">
<link type="text/css" rel="stylesheet" href="static/image/admincp/admincp.css">
<script type="text/JavaScript">
var IMGDIR = 'static/image/common', STYLEID = '1', VERHASH = 'zPr', IN_ADMINCP = true, ISFRAME = 1;
function clearname() {
		$('usernames').value='';
		$('usernames_uids').value='';
	}
</script>
<style>
.fwinmask{ top:2px !important;}
</style>
<script type="text/javascript">var STYLEID = '{STYLEID}', STATICURL = '{STATICURL}', IMGDIR = '{IMGDIR}', VERHASH = '{VERHASH}', charset = '{CHARSET}', discuz_uid = '$_G[uid]', cookiepre = '{$_G[config][cookie][cookiepre]}', cookiedomain = '{$_G[config][cookie][cookiedomain]}', cookiepath = '{$_G[config][cookie][cookiepath]}', attackevasive = '{$_G[config][security][attackevasive]}', disallowfloat = '{$_G[setting][disallowfloat]}', creditnotice = '{if $_G['setting']['creditnotice']}$_G['setting']['creditnames']{/if}'</script>
<script type="text/javascript" src="static/js/common.js"></script>
<script type="text/javascript" src="static/js/admincp.js"></script>
</head><body>

<div id="append_parent"></div>
<div id="cpcontainer" class="container"><div class="itemtitle"><h3>$title</h3></div>