{subtemplate manage/common_header}

<table id="tips" class="tb tb2 ">
<tbody><tr><th class="partition">技巧提示</th></tr>
<tr><td class="tipsblock">
        <ul id="tipslis">
            <li>通过你我课堂管理，您可以用户的你我课堂进行，查找、查看、删除。</li>
            <li>请先根据条件搜索记录，然后选择相应的操作。</li>
        </ul>
    </td></tr></tbody></table>
<script src="static/js/forum_calendar.js"></script>
<div id="searchmembers">
    <form id="cpform" action="manage.php?mod=home&op=nwkt" autocomplete="off" method="post" name="cpform">
        <input type="hidden" name="method" value="search"/>
<table class="tb tb2 ">
<tbody><tr><td class="td27" colspan="2">姓名</td></tr>
<tr class="noborder"><td class="vtop rowform">
<input type="text" class="txt" value="$_G[gp_usernames]" readonly="readonly" name="usernames" id="usernames"><input type="hidden" id="usernames_uids" name="usernames_uids" value="$_G[gp_usernames_uids]"><input type="button" onclick="showWindow('query', 'misc.php?mod=queryuser&id=usernames&type=radio', 'get', 0);" value="选择人员" class="btn" />&nbsp;&nbsp;<input type="button" onclick="clearname()" value="清除" class="btn" /></td><td>请选择一个用户</td></tr>
<tr><td class="td27" colspan="2">你我课堂名称:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<input type="text" class="txt" value="$_G[gp_content]" name="content"></td><td class="vtop tips2"></td></tr>
<!--  
<tr><td class="td27" colspan="2">课堂类型:</td></tr>
<tr class="noborder"><td class="vtop rowform">
	<label><input type="radio" checked="" value="0" name="type">公开</label>
	<label><input type="radio" value="1" name="type">非公开</label>
</td></tr>
-->
<tr><td class="td27" colspan="2">课堂时间范围:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<input type="text" onclick="showcalendar(event, this)" style="width: 108px; margin-right: 5px;" value="$_G[gp_starttime]" name="starttime" class="txt"> --
<input type="text" onclick="showcalendar(event, this)" style="width: 108px; margin-left: 5px;" class="txt" value="$_G[gp_endtime]" name="endtime"></td><td class="vtop tips2">格式 yyyy-mm-dd，不限制请输入 0</td></tr>
</tbody><tbody><tr><td colspan="15">
            <div class="fixsel">
                <input type="submit" value="搜索" title="按 Enter 键可随时提交您的修改" name="submit" id="submit_submit" class="btn"> &nbsp;
            </div></td></tr>
</tbody></table>
</form>
</div>

<form id="deleteform" action="manage.php?mod=home&op=nwkt" autocomplete="off" method="post" name="cpform" onsubmit="javascript:return checkform();">
    <input type="hidden" name="method" value="delete"/>
<!-- {if $count} -->
	<table class="tb tb2 ">
	<tbody><tr><th class="partition" colspan="15">共搜索到<strong> $count </strong>条符合条件的记录</th></tr>
	<tr class="header">
		<th width="5%"></th>
		<th width="15%">你我课堂名称</th>
		<th width="5%">类型</th>
		<th width="10%">主持人</th>
		<th width="10%">主讲人</th>
		<th width="15%">嘉宾</th>
		<th width="15%">开始时间</th>
		<th width="15%">结束时间</th>
		<th width="10%">创建人</th>
	</tr>
	<!--{loop $list $nwkt}-->
	<tr class="hover">
	    <td class="td25" width="5%"><input type="checkbox" class="checkbox" value="$nwkt[nwktid]" name="ridarray[]"></td>
	    <td width="15%"><a target="_blank" href="home.php?mod=space&uid=$nwkt[uid]&do=nwkt&id=$nwkt[nwktid]">$nwkt[subject]</a></td>
	    <td width="5%"><!-- {if $nwkt['type']} -->非公开<!-- {else} -->公开<!-- {/if} --></td>
	    <td width="10%">$nwkt['firstman_names']</td>
	    <td width="10%">$nwkt['secondman_names']</td>
	    <td width="15%">$nwkt['guestman_names']</td>
	    <td  width="15%">$nwkt[starttime]</td>
	    <td  width="15%">$nwkt[endtime]</td>
	    <th width="10%"><a target="_blank" href="home.php?uid=$nwkt[uid]">$nwkt[realname]</a></th>
	</tr>
	<!--{/loop}-->
	<tr><td colspan="15">
	        <div class="cuspages right">
	        $multipage
	        </div>
	        <div class="fixsel">
	            <input type="checkbox" class="checkbox" onclick="checkAll('prefix', this.form, 'ridarray')" name="chkall">删除&nbsp;
	            <input type="submit" value="提交"  title="按 Enter 键可随时提交您的修改" name="submit" id="submit_submit" class="btn">
	        </div></td></tr>
	</tbody></table>
<!-- {else} -->
	<table class="tb tb2 ">
	<tbody><tr><th class="partition" colspan="15">对不起，没有符合条件的记录！</th></tr>
	</tbody></table>
<!-- {/if} -->
</form>
<script>
function checkform(){
	var ridarray=document.getElementsByName("ridarray[]");	
	for(var i=0;i<ridarray.length;i++){
		if(ridarray[i].checked==true){
			return confirm("您确认要删除选中内容吗?");
		}		
	}	
	alert("请选择您要删除的内容!");
	return false;
}
</script>
{subtemplate manage/common_footer}
