{subtemplate common/header}
<link rel="stylesheet" href="static/page/tyzc/assets/qbtf.css?{VERHASH}" type="text/css" />


<div id="pt" class="wp">
	<a href="http://www.myctu.cn" class="nvhm">中国电信网上大学</a> › <a href="group.php">专区</a>  › <a href="forum.php?mod=group&amp;fid=36">添翼振翅</a> › <a href="forum.php?mod=group&amp;action=plugin&amp;plugin_name=activity&amp;plugin_op=groupmenu&amp;fid=36">活动</a>
</div>

<div id="ct" class="wp cl w tyzc_bj">
<div class="tyzc_bj">

<div class="xfs_4">

<div class="tab-content" id="y2011_content">
<div class="xfs_bt"></div>
<div class="cl" id="framecK6zhk_content" style="display: block;">
				<table class="ts_1 ts_2" id="hiApps">
					<tbody>
					<tr class="alRowColor">
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class4/content.asp"><span class="xw1 z">1、基础知识篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class4/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					
					<tr>
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class5/content.asp"><span class="xw1 z">2、沟通与礼仪篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class5/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr class="alRowColor">
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class6/content.asp"><span class="xw1 z">3、产品和业务篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class6/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr>
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class7/content.asp"><span class="xw1 z">4、行业应用篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class7/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr class="alRowColor">
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class1/content.asp"><span class="xw1 z">5、号百政企产品专题篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class1/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr>
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class9/content.asp"><span class="xw1 z">6、移动业务与3G营销篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class9/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr class="alRowColor">
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class8/content.asp"><span class="xw1 z">7、顾问式销售技巧篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class8/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr>
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class3/content.asp"><span class="xw1 z">8、政企营销体系篇</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class3/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
					<tr class="alRowColor">
						<td><a target="_blank" href="http://http.ct-edu.com.cn/class2/content.asp"><span class="xw1 z">9、演练篇（2011浙江省新进客户经理模拟销售课程安排）</span></a>
                            <button onclick="javascript:window.open('http://http.ct-edu.com.cn/class2/content.asp','newwindow','height=600,width=800,top=100,left=100,toolbar=yes,menubar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes');" class="pn" value="true" id="pollsubmit" name="pollsubmit" type="submit"><em>学习</em></button></td>
					</tr>
				</tbody></table>
		</div>
		<div class="xfs_cz">
			<span class="a"><a href="http://home.myctu.cn/forum.php?mod=group&fid=36">返回专区</a></span>
			<span class="d">|</span>
			<span class="b"><a href="home.php?mod=spacecp&ac=share&type=activity&&subject={echo base64_encode('添翼振翅 新进政企客户经理标准化培训');}&subjectlink={echo base64_encode('group.php?mod=other');}&fid=36" id="a_share" onclick="showWindow(this.id, this.href, 'get', 0);">分享</a></span>
			<div class="clear"></div>
		</div>
	  </div>
	</div>
  </div>


</div>
{subtemplate common/footer}