<!--通用样式：纯标题 checked-->
<!--用户可自由填写项:	* 记录数量
                     * 记录标题字数
-->
<div class="module cl xl xl1">
    <ul>
        <!--loop-->
        <li><a href="#" title="对话发展" target="_blank">对话发展</a></li>
        <!--loop-->
    </ul>
</div>


<!--通用样式：标题百搭：(分类)＋标题+作者-->
<!--用户可自由填写项:	* 记录标题字数
		     * 记录数量
-->
<div class="module cl xl xl1">
    <ul>
        <!--loop-->
        <li>
            <em>花花</em>
            <a href="#" title="两期中国电信政企新聘集团内训师培训圆满结 ..." target="_blank"><span class="xi2">[课程]</span>&nbsp;两期中国电信政企新聘集团内训师培训圆满结 ...</a>
        </li>
        <!--loop-->
    </ul>
</div>


<!--通用样式：标题百搭：(分类)＋标题+作者+摘要-->
<!--用户可自由填写项:	* 记录标题字数
		     * 记录摘要字数
		     * 记录数量
-->
<div class="module cl xld b_poll">
    <!--loop-->
    <dl>
        <dt class="xs2">
            <a href="#" target="_blank">两期中国电信政企新聘集团内训师培训圆满结 ...</a>
            &nbsp;<span class="xi2">花花</span>
        </dt>
        <dd><div>由中国电信学院主办，集团政企事业部协办的二期《中国电信政企新聘集团内训师培训》分 ...</div></dd>
    </dl>
    <!--loop-->
</div>


<!--通用样式：标题百搭：(分类)＋标题+作者+摘要+头像-->
<!--用户可自由填写项:	* 记录标题字数
		     * 记录摘要字数
		     * 记录数量
-->
<div class="module cl xld xlda">
    <!--loop-->
    <dl class="cl">
        <dd class="m">
            <a href="#" class="avt"><img src="uc_server/avatar.php?uid=1&amp;size=small"></a>
        </dd>
        <dt class="clpb"><a href="#"><span class="xi2">[课程]</span>&nbsp;两期中国电信政企新聘集团内训师培训圆满结 ...</a></dt>
        <dd class="clmb"><div>由中国电信学院主办，集团政企事业部协办的二期《中国电信政企新聘集团内训师培训》分 ...</div></dd>
        <dd class="clmb">作者: <a href="#">admin</a></dd>
    </dl>
    <!--loop-->
</div>


<!--通用样式：标题百搭：(分类)＋标题+发帖时间/最后回复时间/查看数/回复数/热度/鲜花数/参与人数/平均分-->
<!--用户可自由填写项:	* 记录标题字数
                     * 记录数量
-->
<div class="module cl xl xl1">
    <ul>
        <!--loop-->
        <li>
            <em>25</em>
            <a href="#" title="两期中国电信政企新聘集团内训师培训圆满结 ..." target="_blank"><span class="xi2">[课程]</span>&nbsp;两期中国电信政企新聘集团内训师培训圆满结 ...</a>
        </li>
        <!--loop-->
    </ul>
</div>


<!--通用样式：焦点模式 checked-->
<!--用户可自由填写项:	* 首条记录的图片尺寸
		     * 首条记录的摘要长度
		     * 记录标题字数
		     * 记录数量
-->
<div class="module cl xl uniFocus">
    <ul>
        <li class="hl">
            <dl class="cl xld">
                <dd class="m mbm">
                    <a href="#" target="_blank"><img src="#" width="140" height="140" alt="两期中国电信政企新聘集团内训师培训圆满结 ..."></a>
                </dd>
                <dt><a href="#" title="两期中国电信政企新聘集团内训师培训圆满结 ..." target="_blank" class="xs2">两期中国电信政企新聘集团内训师培训圆满结 ...</a></dt>
                <dd><div>由中国电信学院主办，集团政企事业部协办的二期《中国电信政企新聘集团内训师培训》分 ...</div></dd>
            </dl>
            <hr class="da">
        </li>
        <!--loop-->
        <li>
            <a href="#" title="yiyi" target="_blank">yiyi</a>
            <em class="xg1 y">6-29</em>
        </li>
        <!--loop-->
    </ul>
</div>


<!--通用样式：热议 checked-->
<!--用户可自由填写项:	* 记录数量
		     * 记录标题字数
		     * 记录摘要字数
-->
<div class="module cl xld">
    <!--loop-->
    <dl class="ptn pbn">
        <dd class="clmb xs1 xi2">admin ›</dd>
        <dt class="clp"><a href="#" title="隐私测试" target="_blank">隐私测试</a></dt>
        <dd class="clmb">隐私测试</dd>
    </dl>
    <!--loop-->
</div>


<!--通知公告：独立样式 checked-->
<!--用户可自由填写项:	* 图片尺寸
		     * 记录标题字数
		     * 记录摘要字数
-->
<div class="module cl xld">
    <dl class="cl">
        <dd class="m">
            <a href="#" target="_blank"><img src="#" width="200" height="200" alt="两期中国电信政企新聘集团内训师培训圆满结 ..."></a>
        </dd>
        <dt><a href="#" title="两期中国电信政企新聘集团内训师培训圆满结 ..." target="_blank" class="xs2">两期中国电信政企新聘集团内训师培训圆满结 ...</a></dt>
        <dd><div>由中国电信学院主办，集团政企事业部协办的二期《中国电信政企新聘集团内训师培训》分 ...</div></dd>
    </dl>
</div>


<!--话题：突出内容-->
<!--用户可自由填写项:	* 记录数量
		     * 图片尺寸
		     * 记录标题字数
		     * 记录摘要字数
-->
<div class="module cl xld tpemdiym">
    <!--loop-->
    <dl>
        <dt>
        <div class="quote clmb"><a href="#" target="_blank"><blockquote>从头至尾案例式的互动教学方式非常实用，案例视频非常的真实，每一个人都能在里面找到自己的位置，讲述的就是我们身边发生的事情。</blockquote></a></div>
        </dt>
        <dd><a href="#" title="暖.rmvb" target="_blank" class="xi2 mrmgroup">暖.rmvb</a><em class="xg1 mrmgroup">2010-08-17</em><em class="xg1"><span class="xi2">25</span>&nbsp;个回复</em></dd>
    </dl>
    <!--loop-->
</div>

<!--20101012新增-->
<!--话题：主题 + 作者/时间 + 回复 + 最后发表-->
<!--用户可自由填写项:	* 记录数量
-->
<div class="module cl tl">
	<!--{if $newthreadlist['dateline']['data']}-->
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<td class="icn">&nbsp;</td>
					<th>{lang thread}</th>
					<td class="by">{lang author}/{lang dateline_range}</td>
					<td class="num">{lang reply}</td>
					<td class="by">{lang lastpost}</td>
				</tr>
			</thead>
			<tbody id="$thread[id]">
			<!--{loop $newthreadlist['dateline']['data'] $tid $thread}-->
					<tr>
						<td class="icn">
							<a href="forum.php?mod=viewthread&tid=$tid&amp;extra=$extra" title="{lang target_blank}" target="_blank">
							<!--{if $thread[folder] == 'lock'}-->
								<img src="{IMGDIR}/folder_lock.gif" />
							<!--{elseif $thread['special'] == 1}-->
								<img src="{IMGDIR}/pollsmall.gif" alt="{lang thread_poll}" />
							<!--{elseif $thread['special'] == 2}-->
								<img src="{IMGDIR}/tradesmall.gif" alt="{lang thread_trade}" />
							<!--{elseif $thread['special'] == 3}-->
								<img src="{IMGDIR}/rewardsmall.gif" alt="{lang thread_reward}" />
							<!--{elseif $thread['special'] == 4}-->
								<img src="{IMGDIR}/activitysmall.gif" alt="{lang thread_activity}" />
							<!--{elseif $thread['special'] == 5}-->
								<img src="{IMGDIR}/debatesmall.gif" alt="{lang thread_debate}" />
							<!--{else}-->
								<img src="{IMGDIR}/folder_$thread[folder].gif" />
							<!--{/if}-->
							</a>
						</td>
						<th>
							<span id="thread_$thread[tid]"><a href="forum.php?mod=viewthread&tid=$tid">$thread[subject]</a></span>
						</th>
						<td class="by">
							<cite>
							<!--{if $thread['authorid'] && $thread['author']}-->
								<a href="home.php?mod=space&uid=$thread[authorid]">$thread[author]</a>
							<!--{else}-->
								<!--{if $_G['forum']['ismoderator']}-->
									<a href="home.php?mod=space&uid=$thread[authorid]">{lang anonymous}</a>
								<!--{else}-->
									{lang anonymous}
								<!--{/if}-->
							<!--{/if}-->
							</cite>
							<em>$thread[dateline]</em>
						</td>
						<td class="num">
							<a class="xi2" href="forum.php?mod=viewthread&tid=$tid">$thread[replies]</a><em>$thread[views]</em>
						</td>
						<td class="by">
							<cite>
								<!--{if $thread['lastposterenc']}-->
									<a href="{if $thread[digest] != -2}home.php?mod=space&username=$thread[lastposterenc]{else}forum.php?mod=viewthread&tid=$tid&amp;page={echo max(1, $thread[pages]);}{/if}">$thread[lastposter]</a>
								<!--{else}-->
									{lang anonymous}
								<!--{/if}-->
							</cite>
								<em><a href="{if $thread[digest] != -2}forum.php?mod=redirect&tid=$tid&amp;goto=lastpost#lastpost{else}forum.php?mod=viewthread&tid=$thread[tid]&amp;page={echo max(1, $thread[pages]);}{/if}">$thread[lastpost]</a></em>
						</td>
					</tr>
			<!--{/loop}-->
			</tbody>
		</table>
	<!--{else}-->
		<p class="xg2">{lang forum_nothreads}</p>
	<!--{/if}-->	
</div>



<!--投票：独立样式 checked-->
<!--用户可自由填写项:	* 记录数量
-->
<div class="module cl xld b_poll polldiym">
    <!--loop-->
    <dl class="reHeight">
        <dt class="xs2">
            <a href="#" title="您心目中2009最有价值的网大应用/服务/新功能" target="_blank">您心目中2009最有价值的网大应用/服务/新功能</a>
        </dt>
        <dd id="polldiymimg"></dd>
        <dd>
            <form method="post" autocomplete="off" action="#">
                <ul class="side_poll">
                    <li><label><input type="radio" name="pollanswers[]" id="option_0" class="pc" value="25">选项A</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_1" class="pc" value="26">选项B</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_2" class="pc" value="27">选项C</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_3" class="pc" value="28">选项D</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_4" class="pc" value="29">选项E</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_5" class="pc" value="30">选项F</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_6" class="pc" value="31">选项G</label></li>
                    <li><label><input type="radio" name="pollanswers[]" id="option_7" class="pc" value="32">选项H</label></li>
                </ul>
                <p class="ptn pns">
                    <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn"><em>投票</em></button>
                </p>
            </form>
        </dd>
    </dl>
    <!--loop-->
</div>


<!--问卷：独立样式 checked-->
<!--用户可自由填写项:	* 记录数量
		     * 记录标题字数
-->
<!--loop-->
<div class="module cl xld mbn mtn questdiym">
    <dl class="mtn mbn">
        <dt class="xs2 hm"><a href="#" title="『光点星课堂』用户意见征询" target="_blank">『光点星课堂』用户意见征询</a></dt>
        <p class="ptm pns hm">
            <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn pnbr"><em>参与</em></button>
        </p>
    </dl>
</div>
<!--loop-->


<!--提问吧：独立样式, 悬赏 checked-->
<!--用户可自由填写项:	* 记录数量
		     * 记录标题字数
-->
<div class="module cl xld rwd qbardiym">
    <div class="rusld z">
        <cite>0</cite>经验值
    </div>
    <div style="padding-left:100px; position: relative;">
        <h1 class="xs2"><a href="#"><strong>又有疑问提问大家啦</strong></a></h1>
        <p class="mbm" style="position: absolute; top: 75px;"><a href="home.php?mod=space&amp;uid=1">admin</a> <span class="xg1">2010-8-11</span></p>
        <p class="mtm xg1" style="position: absolute; top: 90px;">已有 1 个回答</p>
    </div>
</div>


<!--提问吧：独立样式, 免费 checked-->
<!--用户可自由填写项:	* 记录数量
		     * 记录标题字数
-->
<div class="module cl xld rwd qbardiym free">
    <div class="rusld z">
        <cite>0</cite>经验值
    </div>
    <div style="padding-left:100px; position: relative;">
        <h1 class="xs2"><a href="#"><strong>又有疑问提问大家啦</strong></a></h1>
        <p class="mbm" style="position: absolute; top: 75px;"><a href="home.php?mod=space&amp;uid=1">admin</a> <span class="xg1">2010-8-11</span></p>
        <p class="mtm xg1" style="position: absolute; top: 90px;">已有 1 个回答</p>
    </div>
</div>


<!--文档：独立样式 checked-->
<!--用户可自由填写项:	* 记录摘要字数
-->
<div class="module cl xld resdiym">
    <dl class="cl">
        <dd class="z" style="margin-right:12px;">
            <a href="#" target="_blank" class="avt"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/13/1620557ng8dsmaqa300u33.jpg" alt=""></a>
            <span class="replaced tag_converting" style="margin: 8px 0 0 21px;">正在转换</span>
        </dd>
        <dt class="oneLine"><a href="#" title="说服力：让你的PPT会说话" target="_blank" class="xs2">说服力：让你的PPT会说话</a></dt>
        <em class="xg1"><span class="xi2">暖.rmvb</span>&nbsp;&nbsp;01-09 10:45</em>
        <dd class="mtn"><div style="text-overflow: ellipsis; ">职场中，谁能够在有限时间里，用最有效地方式，高质量地说服对方，谁就能获得了成功。而不借助任何第三方软件、不具备专业的美术功底、如何通过模仿和实践尝试各种有效易学的表达方式，从而有效传递信息，是个难题...</div></dd>
    </dl>
</div>


<!--资源列表：独立样式 checked-->
<!--用户可自由填写项:	* 记录摘要字数
-->
<div class="module cl xld resdiym">
    <dl class="cl">
        <div class="reHeight">
            <dd class="y" style="margin-left:12px;">
                <a href="#" target="_blank" class="avt"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/13/1620557ng8dsmaqa300u33.jpg" alt=""></a>
            </dd>
            <dt class="oneLine"><a href="#" title="说服力：让你的PPT会说话" target="_blank" class="xs2"><span class="xi2">[课程]</span>&nbsp;说服力：让你的PPT会说话</a></dt>
            <em class="xg1">01-09 10:45</em>
            <dd class="mtn"><div style="text-overflow: ellipsis; ">职场中，谁能够在有限时间里，用最有效地方式，高质量地说服对方，谁就能获得了成功。而不借助任何第三方软件、不具备专业的美术功底、如何通过模仿和实践尝试各种有效易学的表达方式，从而有效传递信息，是个难题...</div></dd>
        </div>
        <dd class="hm z brsgroup" style="padding-right:10px"><em class="xi2 xs3">432</em><br /><span class="xg1">浏览数</span></dd>
        <dd class="hm z" style="padding:0 10px;"><em class="xi2 xs3">4.5</em><br /><span class="xg1">平均分</span></dd>
        <dd class="oneLine mbn xg1"><span class="replaced tag_properUser z mrngroup">适用对象</span>省公司分管领导、网络建设和维护部门领导和相关负责人</dd>
        <dd class="oneLine xg1"><span class="replaced tag_upOrg z mrngroup">上传机构</span>福建省电信技术发展有限公司龙岩分公司</dd>
    </dl>
</div>


<!--文档/资源列表：图+标题(+类型) checked-->
<!--文档：图+标题
    资源列表：图+标题+类型
    用户可自由填写项:	* 记录数量
		     * 记录标题字数
-->
<div class="module cl drlistdiym">
    <ul>
        <!--loop-->
        <li>
            <a href="#" target="_blank"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/13/1620557ng8dsmaqa300u33.jpg" alt=""></a>
            <p class="mtn xw1">
                <a href="#" title="物联网产品体系及应用案例介绍" target="_blank" class="xs1"><span class="xi2">[课程]</span>&nbsp;说服力：让你的PPT会说话</a>
            </p>
        </li>
        <!--loop-->
    </ul>
</div>


<!--讲师：独立样式 checked-->
<!--用户可自由填写项:	* 讲师简介字数
-->
<div class="module cl xld lecturerdiym">
    <dl class="cl">
        <dd class="m" style="margin-right:12px;">
            <a href="#" target="_blank" class="avt">
                <!--讲师照片-->
                <img src="#" alt="夏朝鸣">
            </a>
        </dd>
        <dt><a href="#" title="夏朝鸣" target="_blank" class="xs2">夏朝鸣</a></dt>
        <dd><div class="xg1 oneLine">江苏省电信有限公司南京分公司</div></dd>
        <dd><div style="text-overflow: ellipsis; ">中国电信南京分公司下关区局工作，毕业于南京邮电学院，在电信企业曾先后从事工程施工管理、人力资源管理、维护管理、销售、营销管理，目前为下关区局副局长（主持工作），自09年起承担D阶培训工作，省级内训师。</div></dd>
    </dl>
</div>


<!--直播：标题+主讲人+浏览数+回看按钮 checked-->
<!--用户可自由填写项:	* 记录数量
		     * 记录标题字数
-->
<div class="module cl xld">
    <!--loop-->
    <dl class="cl">
        <dd class="clmb y mtm">
            <p class="ptn pns" style="display:inline;">
                <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn"><em>参与</em></button>
            </p>
        </dd>
        <dt><a href="#">农村支局长全业务融合营销实务</a></dt>
        <dd class="z">
            <div class="tag"><span class="tag_teacher replaced z">讲师</span></div>
            <strong class="mlngroup xg1">王丽</strong>
            <em class="xg1 mlngroup"><span class="xi2">16887</span>&nbsp;次浏览</em>
        </dd>

    </dl>
    <!--loop-->
</div>


<!--20100817修改-->
<!--直播：直播时间+回看按钮 checked-->
<!--用户可自由填写项:	* 记录数量
-->
<!--loop-->
<div class="module cl z" style="margin:10px">
    <p class="hm xg1 xs3">
        <em>2010-08-17&nbsp;14:30-17:00</em>
        <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn mlngroup" style="*left:10px;"><em>参与</em></button>
    </p>
</div>
<!--loop-->


<!--20100816新增-->
<!--直播活动：独立样式 checked-->
<!--用户可自由填写项:	* 图片尺寸
		     * 记录标题字数
		     * 记录摘要字数
-->
<div class="module cl actdiym actlive">
    <dl>
        <dd class="m">
            <img src="#" width="140" height="140">
        </dd>
        <dd class="y clmb">平均分：<span class="xi2">4.5</span>&nbsp;分</dd>
        <dt class="xs2">需求分析工具方法及融合视讯案例实践</dt>
        <div class="y mlngroup mtn">
            <div class="tag"><span class="tag_teacher replaced z">讲师</span></div>
            <strong class="mlngroup xg1">王丽</strong>
            <div class="tag"><span class="tag_liveDates replaced mtn">直播安排</span></div>
            <dd class="xs3 xg1">
						2010-08-17 14:30-17:00
                <p class="ptn pns" style="display:inline;">
                    <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn"><em>参与</em></button>
                </p>
            </dd>
            <dd class="xs3 xg1">
						2010-08-17 14:30-17:00
                <p class="ptn pns" style="display:inline;">
                    <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn"><em>参与</em></button>
                </p>
            </dd>
            <dd class="xs3 xg1">
						2010-08-17 14:30-17:00
                <p class="ptn pns" style="display:inline;">
                    <button type="submit" name="pollsubmit" id="pollsubmit" value="true" class="pn"><em>参与</em></button>
                </p>
            </dd>
        </div>
        <dd id="intro" class="xg1 mtn">
					帮助产品经理及产品研发人员、用户及市场策略分析人员了解如何开展用户研究，以用户需求为导向发现新的产品概念、设计产品。 
        </dd>
        <dd class="xg1">
            <span class="xw1">已有&nbsp;<span class="xi2">30</span>&nbsp;人参加</span>
        </dd>
    </dl>
</div>


<!--20100816新增-->
<!--普通活动：独立样式 checked-->
<!--用户可自由填写项:	* 图片尺寸
		     * 记录标题字数
		     * 记录摘要字数
-->
<div class="module cl actdiym actnormal">
    <dl>
        <dd class="m">
            <img src="#" width="140" height="140" />
        </dd>
        <dd class="reHeight">
            <p class="date z"><em class="brs">16</em><br /><span class="xs0 xg1">2009年12月</span></p>
            <span class="dash z xg1">&ndash;</span><p class="date z"><em class="brs">21</em><br /><span class="xs0 xg1">2009年12月</span></p>
        </dd>
        <dt class="xs2">需求分析工具方法及融合视讯案例实践</dt>
        <dd id="intro" class="xg1">
					帮助产品经理及产品研发人员、用户及市场策略分析人员了解如何开展用户研究，以用户需求为导向发现新的产品概念、设计产品。 
        </dd>
        <dd class="xg1">
            <span class="xw1">已有&nbsp;<span class="xi2">30</span>&nbsp;人参加</span>
        </dd>
    </dl>
</div>

<!--20101012更新-->
<!--活动：大图+标题 checked-->
<!--用户可自由填写项:	* 图片尺寸
		     * 记录标题字数
		     * 记录数量
-->
<div class="module cl ml actdiym actpictitle">
    <ul>
        <!--loop-->
        <li style="width: 140px;">
            <a href="#" target="_blank"><img src="#" width="140" height="140" alt=""></a>
            <p><a href="#" title="物联网产品体系及应用案例介绍" target="_blank" class="xs2">物联网产品体系及应用案例介绍</a></p>
        </li>
        <!--loop-->
    </ul>
</div>

<!--20100816新增-->
<!--排行榜-->
<div class="module cl xl xl1">
    <ol>
        <li><em>41</em><a href="home.php?mod=space&amp;uid=1" title="admin" target="_blank">admin</a></li>
        <li><em>24</em><a href="home.php?mod=space&amp;uid=5" title="zic" target="_blank">zic</a></li>
        <li><em>14</em><a href="home.php?mod=space&amp;uid=13" title="fish" target="_blank">fish</a></li>
        <li><em>7</em><a href="home.php?mod=space&amp;uid=3" title="mac.li" target="_blank">mac.li</a></li>
        <li><em>5</em><a href="home.php?mod=space&amp;uid=4" title="user1" target="_blank">user1</a></li>
        <li><em>5</em><a href="home.php?mod=space&amp;uid=10" title="杨阳" target="_blank">杨阳</a></li>
        <li><em>2</em><a href="home.php?mod=space&amp;uid=11" title="chengjia" target="_blank">chengjia</a></li>
        <li><em>3</em><a href="home.php?mod=space&amp;uid=2" title="zhongwd" target="_blank">zhongwd</a></li>
        <li><em>1</em><a href="home.php?mod=space&amp;uid=12" title="zhangli" target="_blank">zhangli</a></li>
        <li><em>26</em><a href="home.php?mod=space&amp;uid=17" title="官方博客" target="_blank">官方博客</a></li>
    </ol>
</div>

<!--广告：图片（横幅） checked-->
<!--用户可自由填写项:	* 图片宽度
-->
<div class="portal_block_summary">
    <a href="#" target="_blank"><img src="#" width="100%"></a>
</div>


<!--广告：Flash checked-->
<!--用户可自由填写项:	* Flash尺寸
-->
<div class="portal_block_summary">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="550" height="400" id="myMovieName">
        <param name=movie value=".swf" />
        <param name=quality value=high />
        <param name=bgcolor value=#fff />
        <embed src=".swf" quality=high bgcolor=#fff width="550" height="400" name="myMovieName" align="" type="application/x-shockwave-flash" pluginspace="http://www.macromedia.com/go/getflashplayer"></embed>
    </object>
</div>


<!--广告：图文混排 checked-->
<!--用户可自由填写项:	* 图片尺寸
		     * 记录摘要字数 default: 90
		     * 记录数量
-->
<div class="module cl xld">
    <!--loop-->
    <dl class="cl">
        <dd class="m">
            <a href="#" target="_blank"><img src="#" width="140" height="140" alt=""></a>
        </dd>
        <dd class="ptm">
            <div><a href="#" target="_blank">由中国电信学院主办，集团政企事业部协办的二期《中国电信政企新聘集团内训师培训》分由中国电信学院主办，集团政企事业部协办的二期《中国电信政企新聘集团内训师培训》分由中国电信学院主办，集团政企事业...</a></div>
        </dd>
    </dl>
    <!--loop-->
</div>


<!--广告：从左至右滚动 checked-->
<!--用户可自由填写项:	* 滚动速度（快、慢）
-->
<div class="module cl xld scrolladdiym">
    <ul id="imglist0815">
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/140228kk9fyoykxkyz4l9b.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/140226cvf2l8cf82dvbsvz.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/231822ehagttggehgamhcm.jpg"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/140226gz2hhvoy12hoh55h.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/1402255oc4lni95575r7n7.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/140223o1ajjd8apd8zcjaz.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/14022237xgmimxgixqgkig.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/140221tolyyeoi0o01ooto.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/1402200mx66o0sglkbgkgm.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/140219bpbbdy4p82iqdjya.png"></a>
        </li>
        <li>
            <a href="portal.php?mod=view&amp;aid=10" target="_blank" class="avtad"><img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/15/14021833rim8v8v8zgz3wc.png"></a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    addLoadListener(runScrollads);
    
    function runScrollads() {
        scrollads("imglist0815", "fast");
    }
</script>

<!--20100816新增-->
<!--广告：互动橱窗 checked-->
<div class="module cl xld doubandiym">
    <div class="left_conner"><em></em><b></b></div>

    <div id="content_menu1" class="content clearfix">
        <img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/16/094258ndyw2rmi472hwbbz.png" width="423" height="218">
    </div>
    <div id="content_menu2" class="content clearfix">
        <img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/16/094257bb84hkphhbhh4y8t.png" width="423" height="218">
    </div>
    <div id="content_menu3" class="content clearfix">
        <img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/16/094256mdlrddjjzj8jq1d6.png" width="423" height="218">
    </div>
    <div id="content_menu4" class="content clearfix">
        <img src="http://webserver1.test.com/discuzx/data/attachment/album/201008/16/094256s28be8xkw227k9k9.png" width="423" height="218">
    </div>

    <ul id="doubandiy_menu" class="menu">
        <li id="menu1" class="first on">
            <div class="clearfix">
                <em></em>
                <div class="arrow"></div>
                <div class="intro"><a href="#">上海站</a></div>
            </div>
        </li>

        <li id="menu2" class="">
            <div class="clearfix">
                <em></em>
                <div class="arrow"></div>
                <div class="intro"><a href="#">上海站</a></div>
            </div>
        </li>

        <li id="menu3" class="">
            <div class="clearfix">
                <em></em>
                <div class="arrow"></div>
                <div class="intro"><a href="#">育音堂 </a></div>
            </div>
        </li>

        <li id="menu4" class="last">
            <div class="clearfix">
                <em></em>
                <div class="arrow"></div>
                <div class="intro"><a href="#">中国巡演上海站</a></div>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
</script>


<!--广告：图片幻灯 checked-->
<!--用户可自由填写项:	* 图片尺寸
		     * 记录数量
-->
<div class="module cl xld slideshow" style="display: block; ">
	<!--loop-->
    <dl class="cl" style="display: none; ">
        <dd class="m">
        	<a href="portal.php?mod=view&amp;aid=11" target="_blank">
        		<img src="data/attachment/block/98/98e14e39050d882290b6aa4f081a7072.jpg" width="200" height="200">
        	</a>
        </dd>
        <a href="portal.php?mod=view&amp;aid=11" target="_blank"></a>
    </dl>
    <!--loop-->
</div>
<script type="text/javascript">runslideshow();</script>