<!--{if empty($ajax_edit)}--><dl id="comment_$value[cid]_li" class="bbda cl"><!--{/if}-->
	<!--{if $value[repeats]}-->
		<dd class="m avt"><a href="forum.php?mod=group&fid=$value[repeats][fid]"><img src="data/attachment/group/$value[repeats][icon]"></a></dd>
	<!--{else}-->
	<!--{if $value[author]}-->
	<dd class="m avt"><a href="home.php?mod=space&uid=$value[authorid]"><!--{avatar($value[authorid],small)}--></a></dd>
	<!--{else}-->
	<dd class="m avt"><img src="{STATICURL}image/magic/hidden.gif" alt="hidden" /></dd>
	<!--{/if}-->
	<!--{/if}-->
	<dt>
		<span class="y xw0">
		<!--{if $value['authorid'] != $_G['uid'] && $value['author'] == "" && $_G[magic][reveal]}-->
			<a id="a_magic_reveal_{$value[cid]}" href="home.php?mod=magic&mid=reveal&idtype=cid&id=$value[cid]" onclick="ajaxmenu(event,this.id,1)"><img src="{STATICURL}image/magic/reveal.small.gif" alt="reveal" />{$_G[magic][reveal]}</a>
			<span class="pipe">|</span>
		<!--{/if}-->

		{hook/space_blog_comment_op $k}
		<!--{if $value[authorid]==$_G[uid]}-->
			<!--{if $_G[magic][anonymous]}-->
			<img src="{STATICURL}image/magic/anonymous.small.gif" alt="anonymous" class="vm" />
			<a id="a_magic_anonymous_{$value[cid]}" href="home.php?mod=magic&mid=anonymous&idtype=cid&id=$value[cid]" onclick="ajaxmenu(event,this.id, 1)">{$_G[magic][anonymous]}</a>
			<span class="pipe">|</span>
			<!--{/if}-->
			<!--{if !empty($_G['setting']['magics']['flicker'])}-->
			<img src="{STATICURL}image/magic/flicker.small.gif" alt="flicker" class="vm" />
				<!--{if $value[magicflicker]}-->
			<a id="a_magic_flicker_{$value[cid]}" href="home.php?mod=spacecp&ac=magic&op=cancelflicker&idtype=cid&id=$value[cid]&handlekey=cfhk_{$value[cid]}" onclick="showWindow(this.id, this.href, 'get', 0)">{lang cancel}{$_G['setting']['magics']['flicker']}</a>
				<!--{else}-->
			<a id="a_magic_flicker_{$value[cid]}" href="home.php?mod=magic&mid=flicker&idtype=cid&id=$value[cid]" onclick="showWindow(this.id, this.href, 'get', 0)">{$_G['setting']['magics']['flicker']}</a>
				<!--{/if}-->
			<span class="pipe">|</span>
			<!--{/if}-->

			<a href="home.php?mod=spacecp&ac=comment&op=edit&cid=$value[cid]&handlekey=editcommenthk_{$value[cid]}" id="c_$value[cid]_edit" onclick="showWindow(this.id, this.href, 'get', 0);">{lang edit}</a>
		<!--{/if}-->
		<!--{if $value[authorid]==$_G[uid] || $value[uid]==$_G[uid] || checkperm('managecomment')}-->
			<a href="home.php?mod=spacecp&ac=comment&op=delete&cid=$value[cid]&handlekey=delcommenthk_{$value[cid]}" id="c_$value[cid]_delete" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
		<!--{/if}-->
		<!--{if checkperm('managecomment')}-->
		<!--<span class="xg1 xw0">IP: $value[ip]</span>-->
		<!--{/if}-->
		<!--{if $value[authorid]!=$_G[uid] && ($value['idtype'] != 'uid' || $space[self])}-->
			<a href="home.php?mod=spacecp&ac=comment&op=reply&cid=$value[cid]&feedid=$feedid&handlekey=replycommenthk_{$value[cid]}" id="c_$value[cid]_reply" onclick="showWindow(this.id, this.href, 'get', 0);">{lang reply}</a>
		<!--{/if}-->
			<!--a href="home.php?mod=spacecp&ac=common&op=report&idtype=comment&id=$value[cid]&handlekey=reportcommenthk_{$value[cid]}" id="a_report_$value[cid]" onclick="showWindow(this.id, this.href, 'get', 0);">{lang report}</a-->
		</span>
		
		<!--{if $value[repeats]}-->
		<a href="forum.php?mod=group&fid=$value[repeats][fid]" id="author_$value[cid]">$value[repeats][name]</a>
		<!--{elseif $value[anonymity]=='-1'}-->
		<a href="home.php?mod=space&uid=$value[authorid]" id="author_$value[cid]">$value[author]</a>
		<!--{else}-->
		<!--{if $value[author]}-->
		<a href="home.php?mod=space&uid=$value[authorid]" id="author_$value[cid]"><!--{eval echo user_get_user_name($value[authorid]);}--></a>
		<!--{else}-->
		{lang anonymity}
		<!--{/if}-->
		<!--{/if}-->
		<span class="xg1 xw0"><!--{date($value[dateline])}--></span>
	</dt>

	<dd id="comment_$value[cid]"{if $value[magicflicker]} class="magicflicker"{/if}>$value[message]</dd>

	{hook/space_blog_comment_bottom}

<!--{if empty($ajax_edit)}--></dl><!--{/if}-->