<!--{if $space[uid]}-->
	<!--{if $_G[forum_thread][special]==1 || $_G[forum_thread]&&$_G[forum_thread][special]==0}-->
	<div id="plgnav" class="bbsgroup">
		<a id="backbtn" href="
		{if $_G[forum_thread][special]==1}
			{if $_G[forum][type]=='activity'}
				forum.php?mod=activity&action=plugin&fid=$_G[forum][fid]&plugin_name=poll&plugin_op=groupmenu
			{else}
				forum.php?mod=group&action=plugin&fid=$_G[forum][fid]&plugin_name=poll&plugin_op=groupmenu
			{/if}
		{elseif $_G[forum_thread]&&$_G[forum_thread][special]==0}
			{if $_G[forum][type]=='activity'}
				forum.php?mod=activity&action=plugin&fid=$_G[forum][fid]&plugin_name=topic&plugin_op=groupmenu
			{else}
				forum.php?mod=group&action=plugin&fid=$_G[forum][fid]&plugin_name=topic&plugin_op=groupmenu
			{/if}
		{/if}
		" class="z">返回列表</a>
		<!-- {if $_G[forum][type]=='activity'} -->
		<div class="actnav">
			{eval echo get_activitynav($_G[forum]);}
		</div>
		<!-- {/if} -->
		<div class="ihy y">
			<div class="icn avt"><!--{if $repeats}--><a class="avt" href="forum.php?mod=group&fid=$repeats[fid]"><img src="data/attachment/group/$repeats[icon]"></a><!--{elseif $_G[forum_thread][anonymity]=='-1'}--><a href="#"><!--{avatar(-1,small)}--></a><!--{else}--><a href="home.php?mod=space&uid=$space[uid]"><!--{avatar($space[uid],small)}--></a><!--{/if}--></div>
			<dl class="y">
			<!--{if $_G[forum_thread][special]==1}-->
				本投票由<br>
			<!--{elseif $_G[forum_thread]&&$_G[forum_thread][special]==0}-->
				本话题由<br>
			<!--{/if}-->
			<!--{if $repeats}-->
				<a class="xi2" href="forum.php?mod=group&fid=$repeats[fid]">
				$repeats[name]
				</a>创建</dl>
			<!--{elseif $_G[forum_thread][anonymity]=='-1'}-->
				<a class="xi2" href="#">
				匿名
				</a>创建</dl>
			<!--{else}-->
				<a class="xi2" href="home.php?mod=space&uid=$space[uid]">
				<!--{if $_G[forum_thread][special]==1}-->
				{eval echo user_get_user_name($space[uid]);}
				<!--{elseif $_G[forum_thread]&&$_G[forum_thread][special]==0}-->
				{eval echo user_get_user_name($_G[forum_thread][authorid]);}
				<!--{/if}-->
				</a>创建</dl>
			<!--{/if}-->	
		</div>
		{hook/space_menu_extra}
	</div>
	<!--{else}-->
	<div class="ih pbm bbs cl">
		<div class="icn avt"><a href="home.php?mod=space&uid=$space[uid]"><!--{avatar($space[uid],small)}--></a></div>
		<dl>
			<dt class="ptn"><!--{eval echo user_get_user_name($space[uid]);}--></dt>
			<dd>
				<a href="home.php?mod=space&uid=$space[uid]"><!--{eval echo user_get_user_name($space[uid]);}-->{lang somebody_space}</a>
				<!--{if $_G['home_tpl_spacemenus']}-->
					<!--{loop $_G['home_tpl_spacemenus'] $value}--> &rsaquo; $value<!--{/loop}-->
				<!--{/if}-->
			</dd>
		</dl>
		{hook/space_menu_extra}
	</div>
	<!--{/if}-->
<!--{/if}-->

			