<!--{eval 
	$_G[home_tpl_titles] = array('{lang doc}');
	$_G[home_tpl_spacetitle] = "{lang doc}";
	$_G[home_tpl_spacemenus][] = "<a href=\"home.php?mod=space&uid=$space[uid]&do=doc&view=me\">{lang they_doc}</a>";
	$friendsname = array(1 => '{lang friendname_1}',2 => '{lang friendname_2}',3 => '{lang friendname_3}',4 => '{lang friendname_4}');
}-->
<!--{if empty($diymode)}-->
<!--{template common/header}-->

<div id="pt" class="wp">
	<a href="http://www.myctu.cn" class="nvhm">$_G[setting][bbname]</a> &rsaquo;
	<a href="home.php">$_G[setting][navs][4][navname]</a> &rsaquo; 
	<a href="home.php?mod=space&do=doc">{lang doc}</a>
	<!--{if $_GET['view']=='me'}-->
	 &rsaquo; <a href="home.php?mod=space&uid=$space[uid]&do=doc&view=me">{$space[username]}{lang somebody_doc}</a>
	<!--{/if}-->
</div>

<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="wp cl">
	<div class="mn">
		<div class="ch">
			<label class="wx"><a href="$_G[setting][navs][4][filename]">$_G[setting][navs][4][navname]</a></label>
		</div>
		<div class="bm">
		<!--{if $space[self]}-->
			<h1 class="mt"><img alt="doc" src="{STATICURL}image/feed/doc.gif" class="vm" /> {lang doc}</h1>
			<ul class="tb cl">
				<li$actives[we]><a href="home.php?mod=space&uid=$space[uid]&do=doc&view=we">{lang friend_doc}</a></li>
				<li$actives[me]><a href="home.php?mod=space&uid=$space[uid]&do=doc&view=me">{lang my_doc}</a></li>
				<li$actives[all]><a href="home.php?mod=space&uid=$space[uid]&do=doc&view=all">{lang view_all}</a></li>
				<li class="o"><a href="home.php?mod=spacecp&ac=doc&op=select" id="a_doc_publish" onclick="showWindow(this.id, this.href, 'get', 0);">{lang post_new_doc}</a></li>
			</ul>
		<!--{else}-->
			<!--{template home/space_menu}-->
			<p class="tbmu">{lang doing_orderby_time}</p>
		<!--{/if}-->
		
		<!--{if $searchkey}-->
			<p class="tbmu">{lang follow_search_doc} <span style="color: red; font-weight: 700;">$searchkey</span> {lang doing_record_list}</p>
		<!--{/if}-->
<!--{else}-->
<!--{template home/space_header}-->
	<div id="ct" class="wp n cl">
		<div class="mn">
			<div class="bm">
				<h1 class="mt">{lang doc}<!--{if $space[self]}--> <span class="xs1 xw0">( <a href="home.php?mod=spacecp&ac=doc">{lang post_new_doc}</a> )</span><!--{/if}--></h1>
<!--{/if}-->
<script type="text/javascript">
function changesort2(afrm){
    var nav_order = $("nav_order");
    var nav_order_rule = $("nav_order_rule");
    if(!nav_order || !nav_order_rule){
        return false;
    }
    if(afrm.className.indexOf('pressed')>0){
        afrm.className = "ictextbtn y";
        nav_order.style.display = 'none';
        nav_order_rule.style.display = 'none';
    }else{
        afrm.className = "ictextbtn y pressed";
        nav_order.style.display = '';
        nav_order_rule.style.display = '';
    }
}

function changecategory2(afrm){

    var nav_category = $("nav_category");
	var nav_category1 = $("nav_category1");

    if(afrm.className.indexOf('pressed')>0){
        afrm.className = "ictextbtn y";
		if(nav_category){
        	nav_category.style.display = 'none';
		}
		if(nav_category1){
			nav_category1.style.display = 'none';
		}
    }else{
        afrm.className = "ictextbtn y pressed";
		if(nav_category){
        	nav_category.style.display = '';
		}
		if(nav_category1){
			nav_category1.style.display = '';
		}
    }
}
</script>
<div id="plgnav" class="bbs">
	<div id="toolbar" class="toolbar_m0">
		<a id="thumbbtn" class="iconbtn z" href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=$_GET[orderby]&orderseq=$_GET[orderseq]&display=0" onclick=""><img src="{IMGDIR}/esn/btn_thumb.png" width="16" height="16" alt="缩略图方式" /></a>
		<a id="listbtn" class="iconbtn z" href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=$_GET[orderby]&orderseq=$_GET[orderseq]&display=1" onclick=""><img src="{IMGDIR}/esn/btn_list.png" width="17" height="17" alt="列表方式" /></a>
		<a id="filterbtn" class="ictextbtn y pressed" href="#" onclick="changesort2(this)"><img src="{IMGDIR}/esn/btn_sort.png" width="18" height="16" />排序</a>
		<a id="sortbtn" class="ictextbtn y pressed" href="#" onclick="changecategory2(this)"><img src="{IMGDIR}/esn/btn_filter.png" width="18" height="15" />筛选</a>
		<h2>$_G["group_plugins"]["group_available"]["groupmenu"][$_G[gp_plugin_name]][menu]</h2>
	</div>
</div>

		<div class="wdlb_bq">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <!--{if $classarr}-->
			  <tr id="nav_category">
			    <td width="11%" height="22" align="right">分类：</td>
			    <td width="89%">
					<!--{if $_GET['classid']}--><a href="home.php?mod=space&uid=$space[uid]&do=doc&view=$_GET[view]&timerange=$_GET[timerange]&orderby=$_GET[orderby]&orderseq=$_GET[orderseq]&display=$_GET[display]">{lang all_classes}</a><!--{else}--><a class="span">{lang all_classes}</a><!--{/if}-->
					<!--{loop $classarr $classid $classname}-->
						<!--{if $_GET['classid'] == $classid}-->
							| <a class="span">$classname</a>
						<!--{else}-->
							| <a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$classid&view=$_GET[view]&timerange=$_GET[timerange]&orderby=$_GET[orderby]&orderseq=$_GET[orderseq]&display=$_GET[display]">$classname</a>
						<!--{/if}-->
					<!--{/loop}-->
			    </td>
			  </tr>
			  <!--{/if}-->
			  <tr>
			    <td width="11%" height="22" align="right">上传时间：</td>
			    <td>
			    <!--{eval $timerange = array(0 => '全部', 1=> '今天', 2=>'本周', 3=> '一个月内');}-->
			    <!--{loop $timerange $key $value}-->
			    	<!--{eval echo $key == 0 ? "":" | ";}-->
			    	<!--{if $_GET['timerange'] == $key}-->
			    		<a class="span">$value</a>
			    	<!--{else}-->	
			    		<a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$key&secrity=$_GET[secrity]&orderby=$_GET[orderby]&orderseq=$_GET[orderseq]&display=$_GET[display]">$value</a>
			    	<!--{/if}-->	
			    <!--{/loop}-->
			    </td>
			  </tr>
			  <!--{if $_GET[view]!='me'}-->
			   <tr id="nav_category1">
			    <td width="11%" height="22" align="right">筛选：</td>
			    <td>
			    <!--{eval $secrity = array(0 => '全部文档', 1=> '公开文档');}-->
			    <!--{loop $secrity $key $value}-->
			    	<!--{eval echo $key == 0 ? "":" | ";}-->
			    	<!--{if $_GET['secrity'] == $key}-->
			    		<a class="span">$value</a>
			    	<!--{else}-->	
			    		<a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&secrity=$key&orderby=$_GET[orderby]&orderseq=$_GET[orderseq]&display=$_GET[display]">$value</a>
			    	<!--{/if}-->	
			    <!--{/loop}-->
			    </td>
			  </tr>
			  <!--{/if}-->
			  <!--{if $_GET['display'] != 1}-->
			  <tr id="nav_order">
			    <td height="22" align="right">排序：</td>
			    <td>
			    <!--{eval $orderbyrange = array('uploadtime' => '按上传时间', 'averagescore'=>'按平均分', 'read'=> '按阅读数', 'share' => '按分享数', 'comment' => '按评论数', 'favorite' => '按收藏数', 'download' => '按下载数');}-->
			    <!--{loop $orderbyrange $key $value}-->
			    	<!--{eval echo $key == 'uploadtime' ? "":" | ";}-->
			    	<!--{if $_GET['orderby'] == $key || ( !$_GET['orderby'] && $key == 'uploadtime')}-->
			    		<a class="span">$value</a>
			    	<!--{else}-->	
			    		<a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&secrity=$_GET[secrity]&orderby=$key&orderseq=$_GET[orderseq]&display=$_GET[display]">$value</a>
			    	<!--{/if}-->	
			    <!--{/loop}-->
			    </td>
			  </tr>
			  <tr id="nav_order_rule">
			    <td height="22" align="right">规则： </td>
			    <td>
			    <!--{if $orderby == 'uploadtime'}-->
				<!--{eval $orderseqrange = array(0 => '最新', 1=> '最旧');}-->
				<!--{/if}-->	
				<!--{if $orderby != 'uploadtime'}-->
				<!--{eval $orderseqrange = array(0 => '最高', 1=> '最低');}-->
				<!--{/if}-->	
			    <!--{loop $orderseqrange $key $value}-->
			    	<!--{eval echo $key == 0 ? "":" | ";}-->
			    	<!--{if $_GET['orderseq'] == $key}-->
			    		<a class="span">$value</a>
			    	<!--{else}-->	
			    		<a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&secrity=$_GET[secrity]&orderby=$_GET[orderby]&orderseq=$key&display=$_GET[display]">$value</a>
			    	<!--{/if}-->	
			    <!--{/loop}-->
			    </td>
			  </tr>
			  <!--{/if}-->
			</table>
		</div>

<!--{if $count}-->
<div class="wdlb_nr">
	<!--{if $_GET['display'] == 1}-->
	<div class="wd5">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table3">
        <tr>
          <td width="42%" height="30" align="center"><a>标题</a><!--{if $_GET['orderby'] == 'title'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="15%"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=uploadtime&orderseq=<!--{eval echo (!$_GET['orderby'] || $_GET['orderby'] != 'uploadtime') || $_GET['orderseq']? 0 : 1 ;}-->&display=$_GET[display]">上传时间</a><!--{if !$_GET['orderby'] || $_GET['orderby'] == 'uploadtime'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="7%"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=averagescore&orderseq=<!--{eval echo $_GET['orderby'] != 'averagescore' || $_GET['orderseq']?0:1 ;}-->&display=$_GET[display]">平均分</a><!--{if $_GET['orderby'] == 'averagescore'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="7%"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=read&orderseq=<!--{eval echo $_GET['orderby'] != 'read' || $_GET['orderseq']?0:1 ;}-->&display=$_GET[display]">阅读</a><!--{if $_GET['orderby'] == 'read'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="7%"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=share&orderseq=<!--{eval echo $_GET['orderby'] != 'share' || $_GET['orderseq']?0:1 ;}-->&display=$_GET[display]">分享</a><!--{if $_GET['orderby'] == 'share'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="7%"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=comment&orderseq=<!--{eval echo $_GET['orderby'] != 'comment' || $_GET['orderseq']?0:1 ;}-->&display=$_GET[display]">评论</a><!--{if $_GET['orderby'] == 'comment'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="7%"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=favorite&orderseq=<!--{eval echo $_GET['orderby'] != 'favorite' || $_GET['orderseq']?0:1 ;}-->&display=$_GET[display]">收藏</a><!--{if $_GET['orderby'] == 'favorite'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
          <td width="8%" class="qcbx"><a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$_GET[classid]&view=$_GET[view]&timerange=$_GET[timerange]&orderby=download&orderseq=<!--{eval echo $_GET['orderby'] != 'download' || $_GET['orderseq']?0:1 ;}-->&display=$_GET[display]">下载</a><!--{if $_GET['orderby'] == 'download'}--><!--{if $_GET['orderseq'] == 0}--><img src="source/plugin/groupdoc/images/wd08_03.jpg" alt="" width="8" height="10" /><!--{else}--><img src="source/plugin/groupdoc/images/wd08_04.jpg" alt="" width="8" height="10" /><!--{/if}--><!--{/if}--></td>
        </tr>
        <!--{loop $filelist $k $value}-->
        <tr <!--{eval echo $k % 2 == 1? "class=a": ""}-->>
          <td>
          	<p>
			<span><a href="$value[titlelink]">$value[title]</a></span>
			</p>
			<p>
			<span><a href="home.php?mod=space&uid=$value[uid]" class="jc">$value[username]</a></span>
			<!--{if $value['uid'] == $_G['uid']}-->
			<span class="left"><a href="home.php?mod=spacecp&ac=doc&op=edit&docid=$value[id]" >编辑属性</a> | <a href="home.php?mod=spacecp&ac=doc&op=change&docid=$value[id]&classid=$value[folderid]" id="doc_change_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);">移动</a> | <a href="home.php?mod=spacecp&ac=doc&op=delete&docid=$value[id]" id="doc_delete_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);">删除</a>
			</span>
			<!--{/if}-->
			<!--{if $value['uid'] != $_G['uid']&&$isGroupManager}-->
			<span class="left"><!--<a href="home.php?mod=spacecp&ac=doc&op=edit&docid=$value[id]" >编辑属性</a> | --><a href="home.php?mod=spacecp&ac=doc&op=delete&docid=$value[id]" id="doc_delete_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);">删除</a>
			</span>
			<!--{/if}-->
			<!--{if $value['status'] == 1}-->
			<!--{elseif $value['status'] == 2}-->
			<span class="a"><img src="static/image/home/doc/wd01_11.png" /></span>
			<!--{elseif $value['status'] == 4}-->
			<!--{elseif $value['status'] == 8}-->
			<span class="a"><img src="static/image/home/doc/wd01_19.png" width="50" height="17" /></span>
			<!--{/if}-->
			<!--{if $value['security'] == 1}-->
			<!--{elseif $value['security'] == 2}-->
			<!--{elseif $value['security'] == 4}-->
			<span class="a"><img src="static/image/home/doc/a01_25.jpg" width="20" height="20" /></span>
			<!--{elseif $value['security'] == 8}-->
			<span class="a"><img src="static/image/home/doc/a01_24.jpg" width="17" height="20" /></span>
			<!--{/if}-->
			</p>
		  </td>
          <td>$value[uploadtime]</td>
          <td><!--{eval echo empty($value[averagescore])?"--":$value[averagescore];}--></td>
          <td><!--{eval echo empty($value[readnum])?"--":$value[readnum];}--></td>
          <td><!--{eval echo empty($value[sharenum])?"--":$value[sharenum];}--></td>
          <td><!--{eval echo empty($value[commentnum])?"--":$value[commentnum];}--></td>
          <td><!--{eval echo empty($value[favoritenum])?"--":$value[favoritenum];}--></td>
          <td class="qcbx"><!--{eval echo empty($value[downloadnum])?"--":$value[downloadnum];}--></td>
        </tr>
		<!--{/loop}-->
		</table>
	</div>
	<!--{else}-->
	<ul>
	<!--{loop $filelist $k $value}-->
		<li><table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
		  <tr>
			<td width="13%" valign="top"><img src="$value[imglink]" alt="" width="81" height="113" /></td>
			<td width="76%" align="center">
			<table width="96%" border="0" cellpadding="0" cellspacing="0" class="table2"  style="table-layout:fixed;">
		  <tr>
			<td width="70%" align="left" class="wdzh"><span class="hongse"><a href="$value[titlelink]" target="_blank">$value[title]</a></span>
			<!--{if $value['status'] == 1}-->
			<!--{elseif $value['status'] == 2}-->
			<span><img src="static/image/home/doc/wd01_11.png" /></span>
			<!--{elseif $value['status'] == 4}-->
			<!--{elseif $value['status'] == 8}-->
			<span><img src="static/image/home/doc/wd01_19.png" width="50" height="17" /></span>
			<!--{/if}-->
			<a href="home.php?mod=spacecp&ac=share&type=doc&id=$value[id]&fid=$value[zoneid]&handlekey=sharedochk_{$value[id]}&subject={echo base64_encode($value['title']);}&subjectlink={echo base64_encode($value['titlelink']);}&authorid=$value[uid]&author={echo base64_encode($value['username']);}&image={echo base64_encode($value['imglink']);}" id="a_share" onclick="showWindow(this.id, this.href, 'get', 0);" class="oshr right">分享</a>
			</td>
		  </tr>
		  <tr align="left">
			<td class="wdsj">$value[uploadtime]
			<!--{if $value['security'] == 1}-->
			<!--{elseif $value['security'] == 2}-->
			<!--{elseif $value['security'] == 4}-->
			<span class="right">凭密码可见</span>
			<!--{elseif $value['security'] == 8}-->
			<span class="right">仅好友可见</span>
			<!--{elseif $value['security'] == 16}-->
			<!--{if $value['fname']}--><span class="right">仅<a href="forum.php?mod=group&fid=$value['zoneid']">$value['fname']</a>成员可见</span><!--{/if}-->
			<!--{/if}-->
			</td>
			</tr>
		  <tr align="left">
			<td>$value[context]</td>
		  </tr>
		  <tr align="left">
			<td>
			<!--{loop $value[keywords] $key $keyword}-->
			<!--{if $keyword != ""}-->
			<div class="bq">
			<div class="bq_l"></div>
			<div class="bq_c">$keyword</div>
			<div class="bq_r"></div>
			</div>
			<!--{/if}-->
			<!--{/loop}-->
			</td>
			</tr>
		  <tr>
			<td height="0" align="left">
			<!--{if $value['uid'] == $_G['uid']}-->
			<span class="left"><a href="home.php?mod=spacecp&ac=doc&op=edit&docid=$value[id]" >编辑属性</a> | <a href="home.php?mod=spacecp&ac=doc&op=change&docid=$value[id]&classid=$value[folderid]" id="doc_change_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);">移动</a> | <a href="home.php?mod=spacecp&ac=doc&op=delete&docid=$value[id]" id="doc_delete_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);">删除</a></span>
			<span class="right">
			<!--{elseif $value['uid'] != $_G['uid']&&$isGroupManager}-->
			<span class="left"><!--<a href="home.php?mod=spacecp&ac=doc&op=edit&docid=$value[id]" >编辑属性</a> | --><a href="home.php?mod=spacecp&ac=doc&op=delete&docid=$value[id]" id="doc_delete_$value[id]" onclick="showWindow(this.id, this.href, 'get', 0);">删除</a>
			</span>
			<span class="right">
			<!--{else}-->
			<span class="left">
			<!--{/if}-->
			<!--{if $value[readnum]}-->
			<a>$value[readnum] 次阅读</a> | 
			<!--{/if}-->
			<!--{if $value[commentnum]}-->
			<a>$value[commentnum]个评论</a>
			<!--{else}-->
			没有评论
			<!--{/if}-->
			<!--{if $value['security'] != 4}-->
				<!--{if $orderby=='averagescore'}-->
				 | <a>$value[averagescore]分</a>
				<!--{/if}-->
				<!--{if $orderby=='share'}-->
				 | <a>$value[sharenum]次分享</a>
				<!--{/if}-->
				<!--{if $orderby=='favorite'}-->
				 | <a>$value[favoritenum]次收藏</a> 
				<!--{/if}-->
				<!--{if $orderby=='download'}-->
				 | <a>$value[downloadnum]次下载</a>
				<!--{/if}-->
			<!--{/if}-->
			</span>
			</td>
			</tr>
		</table>	</td>
			<td width="11%" align="left" valign="top">
			<div class="tx">
			<p><div class="avt"><a href="home.php?mod=space&uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div></p>
			<p><a href="home.php?mod=space&uid=$value[uid]" class="yhm">$value[username]</a></p>
			</div>
			</td>
		  </tr>
		</table>
		</li>
	<!--{/loop}-->
	</ul>
	<!--{/if}-->
	<!--{if $pricount}-->
		<p class="mtm">{lang hide_doc}</p>
	<!--{/if}-->
</div>
<!--{if $multi}--><div class="pgs cl">$multi</div><!--{/if}-->
<!--{else}-->
	<div class="emp">{lang no_related_doc}.</div>
<!--{/if}-->


<!--{if empty($diymode)}-->
		</div>
	</div>

	<div class="sd">
		{subtemplate common/userabout}

		<div class="bn gsh">
			<h2>{lang search_doc}</h2>
			<form method="get" autocomplete="off" action="home.php" class="pns">
				<input type="hidden" name="searchmode" value="1" />
				<input type="hidden" name="do" value="doc" />
				<input type="hidden" name="mod" value="space" />
				<input type="hidden" name="view" value="$_GET[view]" />
				<input type="hidden" name="classid" value="$_GET[classid]" />
				<input type="hidden" name="timerange" value="$_GET[timerange]" />
				<input type="hidden" name="orderby" value="$_GET[orderby]" />
				<input type="hidden" name="orderseq" value="$_GET[orderseq]" />
				<input type="hidden" name="searchsubmit" value="1" />
				<input type="text" name="searchkey" class="px vm" size="15" value="{lang doing_enter_keywords}" onclick="if(this.value=='{lang doing_enter_keywords}')this.value='';" />
				<button type="submit" class="pn vm"><em>{lang search}</em></button>
			</form>
		</div>
		<hr class="da" />
		<!--{if $classarr}-->
			<hr class="da" />
			<div class="bn">
				<h2>{lang personal_category}</h2>
				<ul class="xl xl1">
					<li{if !$_GET[classid]} class="a"{/if}><a href="home.php?mod=space&uid=$space[uid]&do=doc&view=me&from=$_GET[from]">全部</a></li>
					<!--{loop $classarr $classid $classname}-->
					<li{if $_GET[classid]==$classid} class="a"{/if}>
						<!--{if $space['self'] && $classid != '1'}-->
						<em>
							<a href="home.php?mod=spacecp&ac=doc&op=editclass&classid=$classid" id="c_edit_$classid" onclick="showWindow(this.id, this.href, 'get', 0);">{lang edit}</a>
							<a href="home.php?mod=spacecp&ac=doc&op=deleteclass&classid=$classid" id="c_delete_$classid" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
						</em>
						<!--{/if}-->
						<a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$classid&view=me&from=$_GET[from]">$classname</a>
					</li>
					<!--{/loop}-->
				</ul>
			</div>
		<!--{/if}-->
		<div class="drag">
			<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
		</div>

	</div>
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<script type="text/javascript">
	function fuidgoto(fuid) {
		window.location.href = 'home.php?mod=space&do=doc&view=we&fuid='+fuid;
	}
</script>

<!--{else}-->
		</div>
	</div>
	<div class="sd">
		{subtemplate home/space_userabout}
		<!--{if $classarr}-->
			<hr class="da" />
			<div class="bn">
				<h2>{lang personal_category}</h2>
				<ul class="xl xl1">
					<li{if !$_GET[classid]} class="a"{/if}><a href="home.php?mod=space&uid=$space[uid]&do=doc&view=me&from=$_GET[from]">全部分类</a></li>
					<!--{loop $classarr $classid $classname}-->
					<li{if $_GET[classid]==$classid} class="a"{/if}>
						<!--{if $space['self'] && $classid != '1'}-->
						<em>
							<a href="home.php?mod=spacecp&ac=doc&op=editclass&classid=$classid" id="c_edit_$classid" onclick="showWindow(this.id, this.href, 'get', 0);">{lang edit}</a>
							<a href="home.php?mod=spacecp&ac=doc&op=deleteclass&classid=$classid" id="c_delete_$classid" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
						</em>
						<!--{/if}-->
						<a href="home.php?mod=space&uid=$space[uid]&do=doc&classid=$classid&view=me&from=$_GET[from]">$classname</a>
					</li>
					<!--{/loop}-->
				</ul>
			</div>
		<!--{/if}-->
	</div>
</div>
<!--{/if}-->
<!--{template common/footer}-->