<!--{template home/space_header}-->
	<div id="ct" class="wp n cl">
		<div id="pprl" class="mn">
			<div class="bm">
				<h1 class="mt">{lang memcp_profile}</h1>
			</div>
	
			<div class="bm bbda">
				{hook/space_profile_baseinfo_top}
				<ul>
					<!--{if $space[spacenote]}--><li><em>{lang spacenote}</em>$space[spacenote]</li><!--{/if}-->
					<li><em>{lang email_status}</em><!--{if $space[emailstatus] > 0}-->{lang profile_verified}<!--{else}-->{lang profile_no_verified}<!--{/if}--></li>
					<li><em>{lang video_certification}</em><!--{if $space[videophotostatus] > 0}-->{lang profile_certified} &nbsp;&nbsp;(<a href="home.php?mod=space&uid=$space[uid]&do=videophoto" id="viewphoto" onclick="showWindow(this.id, this.href, 'get', 0)">{lang view_certification_photos}</a>)<!--{else}-->{lang profile_no_certified}<!--{/if}--></li>
					<!--{if $space[domain]}--><li><em>{lang second_domain}</em>$space[domain].{$_G['config']['home'][domainroot]}</li><!--{/if}-->

					<!--{if $space[customstatus]}--><li><em>{lang permission_basic_status}</em>$space[customstatus]</li><!--{/if}-->
					<!--{if $space[sightml]}--><li><em>{lang personal_signature}</em>$space[sightml]</li><!--{/if}-->
				</ul>
				{hook/space_profile_baseinfo_middle}
				<ul>
				<!--{loop $profiles $value}-->
				<li><em>$value[title]</em>$value[value]</li>
				<!--{/loop}-->
				</ul>
			</div>
			{hook/space_profile_baseinfo_bottom}
			<div class="bm bbda cl">
				<h2>{lang active_profile}</h2>
				<ul id="pbbs">
					<li><em>{lang regdate}</em>$space[regdate]</li>
					<li><em>{lang last_visit}</em>$space[lastvisit]</li>
					<!--{if $_G[uid] == $space[uid] || $_G[group][allowviewip]}-->
					<li><em>{lang register_ip}</em>$space[regip] - $space[regip_loc]</li>
					<li><em>{lang last_visit_ip}</em>$space[lastip] - $space[lastip_loc]</li>
					<!--{/if}-->
					<li><em>{lang last_activity_time}</em>$space[lastactivity]</li>
					<li><em>{lang last_post_time}</em>$space[lastpost]</li>
					<li><em>{lang last_send_email}</em>$space[lastsendmail]</li>
					<li><em>{lang time_offset}</em>
						<!--{eval $timeoffset = array({lang timezone});}-->
						$timeoffset[$space[timeoffset]]
					</li>
				</ul>
			</div>
			{hook/space_profile_extrainfo}
		</div>

		<div class="sd">
			{subtemplate home/space_userabout}
		</div>
	</div>
<!--{template common/footer}-->